{% extends "chatrooms/base.html" %}
{% load sass_tags %}
{% load static %}
{% block head %}
    <link href="{% sass_src 'chatrooms/scss/room.scss' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block title %}{{room_name|capfirst}} Chatroom{% endblock %}
{% block body %}
    <div class="wrapper column">
        <div class="content-container column">
            <div class="leave">
                <div class="leave__container">
                    <a class="button-input button-pulse leave__button-pulse" href="{% url 'chat:index' %}">Leave</a>
                </div>
            </div>
            <div id="chat-log" class="chat column">
                {% for chat in chats.all %}
                    {% comment %} If user sent a message {% endcomment %}
                    {% if chat.user_id == request.user.id %}
                    {% comment %} If message first open container and messages {% endcomment %}
                        {% if chat.user_id != chat.get_previous_user.id %}
                            <div class="chat__container sender column">
                                <div class="chat__author">{{chat.user.username}}</div>
                                <div class="chat__messages">
                        {% endif %}
                                {% comment %} Message itself {% endcomment %}
                                    <div class="chat__message">{{chat.content}}</div>
                    {% comment %} If message last then close messages and container {% endcomment %}
                        {% if chat.user_id != chat.get_next_user.id %}
                                </div>
                                <div class="chat__posted">{{chat.timestamp}}</div>
                            </div>
                        {% endif %}
                    {% comment %} If somebody else sent a message {% endcomment %}
                    {% else %}
                    {% comment %} If message first open container and messages {% endcomment %}
                        {% if chat.user_id != chat.get_previous_user.id %}
                            <div class="chat__container reciever column">
                                <div class="chat__author">{{chat.user.username}}</div>
                                <div class="chat__messages">
                        {% endif %}
                                {% comment %} Message itself {% endcomment %}
                                    <div class="chat__message">{{chat.content}}</div>
                    {% comment %} If message last then close messages and container {% endcomment %}
                        {% if chat.user_id != chat.get_next_user.id %}
                                </div>
                                <div class="chat__posted">{{chat.timestamp}}</div>
                            </div>
                        {% endif %}
                    {% comment %} If somebody else sent a message {% endcomment %}

                    {% endif %}
                {% endfor %}
            </div>
            <div class="inputs column">
                <div class="inputs__container row">
                    <div class="input-group">
                        <input class="text-input" id="chat-message-input" type="text" />
                        <label class="text-input-label" for="chat-message-input">Message</label>
                    </div>
                    <button class="send-button row" id="chat-message-submit" type="submit">
                        <div class="circle">
                            <span class="animate">
                                <div class="to-side">
                                    <i class="fa-solid fa-location-arrow"></i>
                                </div>
                            </span>
                        </div>
                    </button>
                    {{ room_name|json_script:"room-name" }}
                </div>
            </div>
        </div>
    </div>
    {{ request.user.id|json_script:"user_id" }}
{% endblock %}
{% block scripts %}
    <script type="module" src="{% static 'chatrooms/js/room.js' %}"></script>
{% endblock  %}
</body>
</html>