@import url("https://fonts.googleapis.com/css?family=Ubuntu");
@import url(../css/null.css);
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase; }

h1 {
  font-size: 2.375rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.75rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1.25rem; }

h6 {
  font-size: 1rem; }

a {
  color: inherit;
  text-decoration: none; }

.none {
  display: none; }

.row {
  display: flex;
  flex-direction: row; }

.column {
  display: flex;
  flex-direction: column; }

.red {
  color: red; }

.pointer {
  cursor: pointer; }

.square {
  aspect-ratio: 1; }

.circle {
  aspect-ratio: 1;
  border-radius: 50%; }

.great-header {
  font-weight: 600;
  letter-spacing: 0.21875rem; }
  @media screen and (max-width: 424px) {
    .great-header {
      letter-spacing: 0.09375rem; } }
h1.great-header {
  font-size: 4.25rem; }
  @media screen and (max-width: 424px) {
    h1.great-header {
      font-size: 3.25rem; } }
h2.great-header {
  font-size: 3.25rem; }
  @media screen and (max-width: 424px) {
    h2.great-header {
      font-size: 2.375rem; } }
h3.great-header {
  font-size: 2.375rem; }
  @media screen and (max-width: 424px) {
    h3.great-header {
      font-size: 2rem; } }
h4.great-header {
  font-size: 2rem; }
  @media screen and (max-width: 424px) {
    h4.great-header {
      font-size: 1.75rem; } }
h5.great-header {
  font-size: 1.75rem; }
  @media screen and (max-width: 424px) {
    h5.great-header {
      font-size: 1.5rem; } }
h6.great-header {
  font-size: 1.5rem; }
  @media screen and (max-width: 424px) {
    h6.great-header {
      font-size: 1.25rem; } }
.items-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem; }
  .items-list__item {
    width: 100%;
    aspect-ratio: 1/0.75;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
  .items-list__title {
    display: block;
    width: 53.75%;
    font-size: 2rem; }
  .items-list__first, .items-list__second {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 65%; }
  .items-list__first {
    z-index: 1;
    left: 0;
    top: 0;
    align-items: flex-start;
    text-align: start; }
  .items-list__second {
    right: 0;
    bottom: 0;
    align-items: flex-end;
    text-align: end; }
  .items-list__image {
    width: 100%; }
    .items-list__image img {
      width: 100%;
      aspect-ratio: 16/10; }
  .items-list__second .items-list__image {
    z-index: 2; }
  @media (max-width: 767px) {
    .items-list {
      gap: 1rem !important; }
      .items-list__item {
        gap: 8px; }
      .items-list__first, .items-list__second {
        position: relative;
        width: 100%;
        text-align: center; }
      .items-list__title {
        width: 100%; } }
.input-group {
  position: relative; }

.text-input {
  display: inline-block;
  padding: 10px;
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: transparent;
  outline: 2px solid #fff; }
  .text-input-label {
    cursor: text;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(10px, 10px);
    transition: 0.25s; }
  .text-input.active + .text-input-label {
    background-color: #000;
    transform: translate(10px, -10px) scale(0.8);
    color: #d1c5fc;
    padding-inline: 5px; }

.button-input {
  display: inline-block;
  background: none;
  border: 2px #fff solid;
  transition: 0.25s;
  font-size: 2rem; }
  .button-input:hover, .button-input:focus {
    border-color: white; }

.button-pulse:hover,
.button-pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 1.5rem transparent; }

.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1001;
  background-color: rgba(0, 0, 0, 0.8); }
  .popup__container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 80%;
    height: fit-content;
    border-radius: 16px;
    overflow-x: hidden;
    background-color: #fff;
    animation: popup-appear 0.2s ease-in forwards; }
  .popup__close-button {
    flex: 0 0 auto;
    background-color: transparent;
    position: relative;
    margin: 16px 16px auto auto;
    display: block;
    width: 2.25rem;
    aspect-ratio: 1; }
    .popup__close-button::before, .popup__close-button::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 2.25rem;
      height: 2px;
      border-radius: 4px;
      background-color: #000; }
    .popup__close-button::before {
      transform: rotate(45deg); }
    .popup__close-button::after {
      transform: rotate(-45deg); }
  .popup__content-container {
    display: flex;
    padding: 32px 0;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center; }

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 white; } }

@keyframes popup-appear {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }

html,
body {
  font-family: "Ubuntu";
  font-size: calc( 12px + 4 * ((100vw - 320px) / 1600)); }

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%; }

.black-area,
.white-area {
  padding: 2.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }

.white-area {
  background-color: #fff;
  color: #000; }
  .white-area .content-container {
    width: calc( 320px + 1120 * ((100vw - 320px) / 1600));
    flex: 1 1 auto; }

.black-area {
  background-color: #000;
  color: #fff; }

.content-container {
  width: calc( 300px + 1140 * ((100vw - 320px) / 1600));
  flex: 1 1 auto; }

.navigation {
  color: #fff;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 120px;
  height: 60px;
  background: #000;
  box-shadow: 0px 0px 2.5rem rgba(255, 255, 255, 0.25);
  transition: height 0.5s, width 0.5s;
  transition-delay: 0s, 0.75s;
  overflow: hidden;
  z-index: 999; }
  .navigation .userBx {
    position: relative;
    width: 60px;
    height: 60px;
    background: #000;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;
    transition-delay: 0.5s; }
    .navigation .userBx .imgBx {
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      min-width: 60px;
      height: 60px; }
    .navigation .userBx svg {
      width: 70%;
      height: 70%; }
  .navigation .menuToggle {
    position: relative;
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center; }
    .navigation .menuToggle::before {
      content: "";
      position: absolute;
      width: 32px;
      height: 2px;
      background-color: #7f7f7f;
      transform: translateY(-10px);
      box-shadow: 0 10px #7f7f7f;
      transition: 0.5s; }
    .navigation .menuToggle::after {
      content: "";
      position: absolute;
      width: 32px;
      height: 2px;
      background-color: #7f7f7f;
      transform: translateY(10px);
      transition: 0.5s; }
  .navigation .menu {
    position: absolute;
    width: 100%;
    height: calc(100% - 60px);
    margin-top: 60px;
    padding: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1); }
  .navigation .menu li {
    list-style: none; }
    .navigation .menu li a {
      display: flex;
      align-items: space-between;
      margin: 20px 0;
      font-size: 1em;
      gap: 10px;
      text-decoration: none;
      color: #7f7f7f; }
    .navigation .menu li i {
      font-size: 1.5em; }
  .navigation.active {
    width: 300px;
    height: 400px;
    transition: height 0.5s, width 0.5s;
    transition-delay: 0s, 0.75s; }
    .navigation.active .userBx {
      width: calc(100% - 60px);
      transition-delay: 0s; }
      .navigation.active .userBx .username {
        white-space: nowrap;
        color: #7f7f7f;
        font-size: 1.1em; }
    .navigation.active .menuToggle::before {
      transform: translateY(0px) rotate(45deg);
      box-shadow: 0 0 #7f7f7f; }
    .navigation.active .menuToggle::after {
      transform: translateY(0px) rotate(-45deg); }

.footer {
  background-color: #111111;
  color: #ffffff;
  width: 100%; }
  .footer .container {
    margin: 0 auto;
    width: 90%; }
  .footer-items {
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    padding: 2.375rem 0;
    gap: 5rem; }
    .footer-items__left {
      flex: 0 1 auto;
      gap: 1.625rem;
      align-items: center; }
    .footer-items__logo {
      height: 3.5rem;
      text-align: center; }
      .footer-items__logo img {
        height: 100%; }
    .footer-items__pillar {
      width: 2px;
      height: 3.25rem;
      background-color: #686868; }
    .footer-items__copyrights {
      text-transform: uppercase;
      color: #686868; }
    .footer-items__right {
      flex: 1 0 auto;
      align-items: center;
      justify-content: flex-end;
      gap: calc( 20px + 16 * ((100vw - 320px) / 1600)); }
    .footer-items__email {
      font-size: calc( 16px + 8 * ((100vw - 320px) / 1600));
      transition: all 285ms linear;
      position: relative; }
      .footer-items__email::after {
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: -4px;
        left: 0;
        content: "";
        background-color: #fff;
        background-image: linear-gradient(to right, #efb631, #f10000); }
      .footer-items__email:hover {
        transform: scale(1.2); }
    .footer-items__socials {
      padding: 8px 0 0 0;
      justify-content: center;
      gap: 2rem; }
    .footer-items__social {
      transition: 225ms ease-out;
      font-size: calc( 24px + 8 * ((100vw - 320px) / 1600)); }
      .footer-items__social:hover {
        transform: scale(1.1);
        filter: opacity(0.75); }
  @media screen and (max-width: 840px) {
    .footer .footer-items {
      flex-direction: column;
      align-items: center;
      gap: 1.25rem; }
      .footer .footer-items__right {
        flex-direction: column;
        align-items: center;
        gap: 1.125rem; } }
html,
body {
  font-size: 16px; }

.navigation {
  color: #000;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 120px;
  height: 60px;
  background: #fff;
  box-shadow: 0 1.25rem 2.5rem rgba(0, 0, 0, 0.5);
  transition: height 0.5s, width 0.5s;
  transition-delay: 0s, 0.75s;
  overflow: hidden;
  z-index: 999; }
  .navigation .userBx {
    position: relative;
    width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;
    transition-delay: 0.5s; }
    .navigation .userBx .imgBx {
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      min-width: 60px;
      height: 60px; }
    .navigation .userBx svg {
      width: 70%;
      height: 70%; }
  .navigation .menuToggle {
    position: relative;
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center; }
    .navigation .menuToggle::before {
      content: "";
      position: absolute;
      width: 32px;
      height: 2px;
      background-color: #555;
      transform: translateY(-10px);
      box-shadow: 0 10px #555;
      transition: 0.5s; }
    .navigation .menuToggle::after {
      content: "";
      position: absolute;
      width: 32px;
      height: 2px;
      background-color: #555;
      transform: translateY(10px);
      transition: 0.5s; }
  .navigation .menu {
    position: absolute;
    width: 100%;
    height: calc(100% - 60px);
    margin-top: 60px;
    padding: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1); }
  .navigation .menu li {
    list-style: none; }
    .navigation .menu li a {
      display: flex;
      align-items: space-between;
      margin: 20px 0;
      font-size: 1em;
      gap: 10px;
      text-decoration: none;
      color: #555; }
    .navigation .menu li i {
      font-size: 1.5em; }
  .navigation.active {
    width: 300px;
    height: 400px;
    transition: height 0.5s, width 0.5s;
    transition-delay: 0s, 0.75s; }
    .navigation.active .userBx {
      width: calc(100% - 60px);
      transition-delay: 0s; }
      .navigation.active .userBx .username {
        white-space: nowrap;
        color: #555;
        font-size: 1.1em; }
    .navigation.active .menuToggle::before {
      transform: translateY(0px) rotate(45deg);
      box-shadow: 0 0 #555; }
    .navigation.active .menuToggle::after {
      transform: translateY(0px) rotate(-45deg); }

.footer {
  background-color: #111111;
  color: #ffffff;
  width: 100%; }
  .footer .container {
    margin: 0 auto;
    width: 90%; }
  .footer-items {
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    padding: 2.375rem 0;
    gap: 5rem; }
    .footer-items__left {
      flex: 0 1 auto;
      gap: 1.625rem;
      align-items: center; }
    .footer-items__logo {
      height: 3.5rem;
      text-align: center; }
      .footer-items__logo img {
        height: 100%; }
    .footer-items__pillar {
      width: 2px;
      height: 3.25rem;
      background-color: #686868; }
    .footer-items__copyrights {
      text-transform: uppercase;
      color: #686868; }
    .footer-items__right {
      flex: 1 0 auto;
      align-items: center;
      justify-content: flex-end;
      gap: calc( 20px + 16 * ((100vw - 320px) / 1600)); }
    .footer-items__email {
      font-size: calc( 16px + 8 * ((100vw - 320px) / 1600));
      transition: all 285ms linear;
      position: relative; }
      .footer-items__email::after {
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: -4px;
        left: 0;
        content: "";
        background-color: #fff;
        background-image: linear-gradient(to right, #efb631, #f10000); }
      .footer-items__email:hover {
        transform: scale(1.2); }
    .footer-items__socials {
      padding: 8px 0 0 0;
      justify-content: center;
      gap: 2rem; }
    .footer-items__social {
      transition: 225ms ease-out;
      font-size: calc( 24px + 8 * ((100vw - 320px) / 1600)); }
      .footer-items__social:hover {
        transform: scale(1.1);
        filter: opacity(0.75); }
  @media screen and (max-width: 840px) {
    .footer .footer-items {
      flex-direction: column;
      align-items: center;
      gap: 1.25rem; }
      .footer .footer-items__right {
        flex-direction: column;
        align-items: center;
        gap: 1.125rem; } }
.wrapper {
  background-color: #000;
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  width: 100%; }

.content-container {
  width: 80%;
  flex: 1 1 auto; }

@keyframes message__rorate {
  0% {
    transform: rotate(45deg);
    background-color: #000; }
  15% {
    transform: rotate(45deg); }
  20% {
    transform: rotate(-45deg); }
  35% {
    transform: rotate(-45deg); }
  40% {
    transform: rotate(-135deg); }
  55% {
    transform: rotate(-135deg); }
  60% {
    transform: rotate(-225deg); }
  75% {
    transform: rotate(-225deg); }
  80% {
    transform: rotate(-315deg); }
  100% {
    transform: rotate(-315deg); } }

@keyframes message__rorate_unsuccess {
  0% {
    transform: rotate(45deg); }
  25% {
    transform: rotate(60deg); }
  75% {
    transform: rotate(30deg); }
  100% {
    transform: rotate(45deg); } }

@keyframes message__fly-and-back {
  0% {
    transform: translate(0); }
  20% {
    transform: translate(28px, 0); }
  40% {
    transform: translate(28px, -28px); }
  60% {
    transform: translate(-28px, -28px); }
  80% {
    transform: translate(-28px); }
  100% {
    transform: translate(0); } }

.content-container {
  width: calc( 300px + 1460 * ((100vw - 320px) / 1600));
  position: relative;
  padding: 0 0 0.875rem 0; }

.leave {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  justify-content: space-between; }
  .leave__container {
    background-color: #000;
    position: relative;
    padding: 1rem 0;
    align-items: flex-start; }
  .leave__button-pulse {
    border-radius: 4px;
    padding: 0.5rem 1.25rem;
    font-size: 1.125rem; }
    .leave__button-pulse:hover {
      color: #f00;
      border-color: #f00; }

.chat {
  padding: 0 0 2.875rem 0;
  width: 100%;
  flex: 1 1 auto; }
  .chat__container {
    position: relative;
    width: 800px;
    width: 600px;
    width: 70%;
    padding: 0.5rem;
    gap: 4px; }
    @media (min-width: 1720px) {
      .chat__container {
        width: calc( 500px + 300 * ((100vw - 320px) / 1600)); } }
    @media (max-width: 1720px) {
      .chat__container {
        width: calc( 300px + 300 * ((100vw - 320px) / 1400)); } }
    .chat__container > .chat__author {
      display: inline-block;
      background-color: #000;
      position: absolute;
      z-index: 1;
      padding: 2px;
      top: 0px;
      font-size: 0.75rem; }
    .chat__container > .chat__posted {
      width: calc( 66px + 90 * ((100vw - 320px) / 1600));
      font-size: 0.6em; }
    .chat__container.sender {
      align-self: flex-end;
      align-items: flex-end; }
      .chat__container.sender > .chat__author {
        right: 14px; }
      .chat__container.sender > .chat__posted {
        text-align: end; }
      .chat__container.sender > .chat__messages {
        border: 2px #005ab9 solid;
        border-radius: 8px 8px 0% 8px / 8px 8px 0% 8px; }
    .chat__container.reciever {
      align-self: flex-start;
      align-items: flex-start; }
      .chat__container.reciever > .chat__messages {
        border: 2px #afafaf solid;
        border-radius: 8px 8px 8px 0% / 8px 8px 8px 0%; }
      .chat__container.reciever > .chat__author {
        left: 14px; }
      .chat__container.reciever > .chat__posted {
        text-align: start; }
  .chat__messages {
    padding: 0.75rem 1.5rem;
    position: relative;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-row-gap: 2px;
    grid-auto-rows: 1fr;
    text-align: start; }
  .chat__message {
    line-height: 125%;
    display: inline-block; }

.inputs {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  flex: 0 1 1.5rem; }
  .inputs__container {
    padding: 0.5rem;
    background-color: #000;
    gap: 1rem; }

.send-button {
  position: relative;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: transparent;
  width: 2.875rem; }
  .send-button .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    outline: 2px solid #fff;
    height: 75%;
    margin: auto;
    overflow: hidden; }
  .send-button .circle.active {
    outline: 2px solid #32ff9f; }
  .send-button .circle.unsuccess {
    outline: 2px solid #ff3232; }
  .send-button .animate {
    font-size: 1rem; }
  .send-button .to-side {
    position: relative; }
  .send-button .to-side.active {
    animation: message__fly-and-back 0.8s linear forwards; }
  .send-button .fa-location-arrow {
    filter: blur(0.8);
    transform: rotate(45deg); }
  .send-button .fa-location-arrow.active {
    animation: message__rorate 0.8s linear forwards; }
  .send-button .fa-location-arrow.unsuccess {
    text-shadow: #fff 200px;
    animation-name: message__rorate_unsuccess;
    animation-duration: 130ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }

.delete__container {
  width: 80%;
  width: 1400px;
  padding: 0 5%;
  text-align: center; }
  @media (max-width: 1720px) {
    .delete__container {
      width: calc( 240px + 1160 * ((100vw - 320px) / 1400)); } }
.delete__link {
  margin: 1rem;
  font-size: 1.5rem;
  width: calc( 140px + 260 * ((100vw - 320px) / 1600));
  border: 2px #000 solid; }

/*# sourceMappingURL=room.css.map */