// ================= Import styles  =================
@import "main.scss";

// ================= Keyframes =================
@keyframes message__rorate {
    0% {
        transform: rotate(45deg);
        background-color: #000;
    }
    15% {
        transform: rotate(45deg);
    }
    20% {
        transform: rotate(-45deg);
    }
    35% {
        transform: rotate(-45deg);
    }
    40% {
        transform: rotate(-135deg);
    }
    55% {
        transform: rotate(-135deg);
    }
    60% {
        transform: rotate(-225deg);
    }
    75% {
        transform: rotate(-225deg);
    }
    80% {
        transform: rotate(-315deg);
    }
    100% {
        transform: rotate(-315deg);
    }
}
@keyframes message__rorate_unsuccess {
    0% {
        transform: rotate(45deg);
    }
    25% {
        transform: rotate(60deg);
    }
    75% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(45deg);
    }
}
@keyframes message__fly-and-back {
    0% {
        transform: translate(0);
    }
    // To right
    20% {
        transform: translate(28px, 0);
    }
    // To top
    40% {
        transform: translate(28px, -28px);
    }
    // Back to left + some space
    60% {
        transform: translate(-28px, -28px);
    }
    80% {
        transform: translate(-28px);
    }
    // Back to start
    100% {
        transform: translate(0);
    }
}
// ================= Styles =================
.content-container {
    @include adaptiv-value(width, 1760, 300, 3);
    position: relative;
    padding: 0 0 rem(14) 0;
}
.leave {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    justify-content: space-between;

    &__container {
        background-color: #000;
        position: relative;
        padding: rem(16) 0;
        align-items: flex-start;
    }
    &__button-pulse {
        border-radius: 4px;
        padding: rem(8) rem(20);
        font-size: rem(18);

        &:hover {
            color: #f00;
            border-color: #f00;
        }
    }
}
.chat {
    padding: 0 0 rem(46) 0;
    width: 100%;
    flex: 1 1 auto;

    &__container {
        position: relative;
        @include adaptiv-value(width, 800, 500, 2);
        @include adaptiv-value(width, 600, 300, 1);
        width: 70%;
        padding: rem(8);
        gap: 4px;

        & > .chat__author {
            display: inline-block;
            background-color: #000;
            position: absolute;
            z-index: 1;
            padding: 2px;
            top: 0px;
            font-size: rem(12);
        }
        & > .chat__posted {
            @include adaptiv-value(width, 156, 66, 3);
            font-size: 0.6em;
        }

        &.sender {
            align-self: flex-end;
            align-items: flex-end;

            & > .chat__author {
                right: 14px;
            }
            & > .chat__posted {
                text-align: end;
            }
            & > .chat__messages {
                border: 2px rgb(0, 90, 185) solid;
                border-radius: 8px 8px 0% 8px / 8px 8px 0% 8px;
            }
        }
        &.reciever {
            align-self: flex-start;
            align-items: flex-start;

            & > .chat__messages {
                border: 2px #afafaf solid;
                border-radius: 8px 8px 8px 0% / 8px 8px 8px 0%;
            }
            & > .chat__author {
                left: 14px;
            }
            & > .chat__posted {
                text-align: start;
            }
        }
    }

    &__messages {
        padding: rem(12) rem(24);
        position: relative;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        grid-row-gap: 2px;
        grid-auto-rows: 1fr;
        text-align: start;
    }
    &__message {
        line-height: 125%;
        display: inline-block;
    }
}

.inputs {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    flex: 0 1 rem(24);

    &__container {
        padding: rem(8);
        background-color: $bgc;
        gap: rem(16);
    }
}
.send-button {
    position: relative;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color: transparent;
    // outline: 2px solid #fff;
    width: rem(46);

    .circle {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        outline: 2px solid #fff;
        height: 75%;
        margin: auto;
        overflow: hidden;
    }
    .circle.active {
        outline: 2px solid rgb(50, 255, 159);
    }
    .circle.unsuccess {
        outline: 2px solid rgb(255, 50, 50);
    }
    .animate {
        font-size: rem(16);
    }
    .to-side {
        position: relative;
    }
    .to-side.active {
        animation: message__fly-and-back 0.8s linear forwards;
    }
    .fa-location-arrow {
        filter: blur(0.8);
        transform: rotate(45deg);
    }
    .fa-location-arrow.active {
        animation: message__rorate 0.8s linear forwards;
    }
    .fa-location-arrow.unsuccess {
        text-shadow: #fff 200px;
        animation-name: message__rorate_unsuccess;
        animation-duration: 130ms;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
}
.delete {
    &__container {
        width: 80%;
        @include adaptiv-value(width, 1400, 240, 1);
        padding: 0 5%;
        text-align: center;
    }
    &__link {
        margin: rem(16);
        font-size: rem(24);
        @include adaptiv-value(width, 400, 140, 3);
        border: 2px #000 solid;
    }
}
