// ================= Import styles =================
@import "vars";

// ================= Import fonts =================

// ================= Keyframes =================
@keyframes down-and-up {
    33% {
        transform: translateY(4px);
    }
    66% {
        transform: translateY(-4px);
    }
}
@keyframes smile-arrow_up {
    0% {
        transform: translate(0, 0) scale(0.6);
    }
    33% {
        transform: translate(0, 50%);
    }
    50% {
        transform: translate(0, 0) scale(0.6);
    }
    66% {
        transform: translate(0, -50%);
    }
    100% {
        transform: translate(0, 0) scale(0.6);
    }
}
@keyframes smile-arrow_down {
    0% {
        transform: translate(0, 0) scale(0.6);
    }
    33% {
        transform: translate(0, -50%);
    }
    50% {
        transform: translate(0, 0) scale(0.6);
    }
    66% {
        transform: translate(0, 50%);
    }
    100% {
        transform: translate(0, 0) scale(0.6);
    }
}
@keyframes smile-face {
    0% {
        filter: drop-shadow(0px 0px 10px rgba(#fff, 0.4));
    }
    30% {
        filter: drop-shadow(0px 0px 10px rgba(#fff, 0.4));
        transform: rotate(0deg);
    }
    33% {
        transform: rotate(30deg);
        filter: drop-shadow(0px 0px 40px rgba(#fff, 0.6));
    }
    36% {
        filter: drop-shadow(0px 0px 30px rgba(#fff, 0.4));
        transform: rotate(-30deg);
    }
    39% {
        filter: drop-shadow(0px 0px 40px rgba(#fff, 0.6));
        transform: rotate(30deg);
    }
    42% {
        filter: drop-shadow(0px 0px 20px rgba(#fff, 0.4));
        transform: rotate(0deg);
    }
    63% {
        filter: drop-shadow(0px 0px 10px rgba(#fff, 0.4));
        transform: rotate(0deg);
    }
    66% {
        filter: drop-shadow(0px 0px 40px rgba(#fff, 0.6));
        transform: rotate(30deg);
    }
    69% {
        filter: drop-shadow(0px 0px 30px rgba(#fff, 0.4));
        transform: rotate(-30deg);
    }
    72% {
        filter: drop-shadow(0px 0px 40px rgba(#fff, 0.6));
        transform: rotate(30deg);
    }
    75% {
        filter: drop-shadow(0px 0px 10px rgba(#fff, 0.4));
        transform: rotate(0deg);
    }
    100% {
        filter: drop-shadow(0px 0px 10px rgba(#fff, 0.4));
    }
}
// ================= Styles =================
// Welcome block
.welcome {
    padding: rem(60) 0;
    max-width: 100%;
    justify-content: center;
    gap: rem(80);

    &__left {
        flex: 1 1 auto;
        gap: rem(36);
    }
    &__specialty,
    &__greets {
        text-transform: uppercase;
    }
    &__specialty {
        letter-spacing: rem(4);
        font-size: rem(20);
        color: #f2c81c;
    }
    &__greets {
    }
    &__details {
        color: #919191;
        font-size: rem(18);
    }
    &__text-me {
        @include link(
            $clr: #fff,
            $bgi: linear-gradient(225deg, #306b34, #35ce8d),
            $bgc: #35ce8d
        );
        position: relative;
        a {
            transition: all 350ms ease-out;
            &::after {
                transition: opacity 350ms;
                opacity: 0.3;
                content: "";
                cursor: pointer;
                position: absolute;
                left: 0;
                top: 0;
                display: block;
                background-color: #000;
                width: 100%;
                height: 100%;
                z-index: 0;
                opacity: 0;
            }
            &:hover {
                transform: scale(1.2);
            }
            &:hover::after {
                opacity: 0.3;
            }
        }
        * {
            z-index: 1;
        }
    }
    &__right {
        position: relative;
        flex: 1 1 50%;
        justify-content: center;
        align-items: flex-start;
        gap: rem(36);
        text-align: center;
    }
    &__smile {
        width: 100%;
        text-align: center;
        font-size: rem(46);

        .fa-face-smile-beam {
            font-size: 1.6em;
            animation: smile-face 6s ease-in-out infinite;
        }
        .fa-arrow-up {
            color: rgb(0, 167, 53);
            animation: smile-arrow_up 4s ease infinite;
        }
        .fa-arrow-down {
            color: rgb(202, 3, 27);
            animation: smile-arrow_down 4s linear infinite;
        }
        @media (max-width: 767px) {
            text-align: start;
        }
    }
    // &__fly-thing {
    // }
    // &__fly-thing_1 {
    // }
    // &__fly-thing_2 {
    // }
    // &__fly-thing_3 {
    // }
    // &__fly-thing_4 {
    // }
    // &__fly-thing_5 {
    // }

    @media (max-width: 768px) {
        & {
            flex-direction: column;
        }
    }
}
.portfolio {
    background-color: #fff;

    &__title {
        padding: rem(80) 0;
    }
    &__list {
        gap: rem(80);
    }
    &__item {
    }
    &__item-title {
        padding: rem(20) 0;
    }
    &__item-image {
    }
    &__first,
    &__second {
    }
    &__loadmore-container {
        padding: rem(36) 0 0 0;
        text-align: center;
        align-items: center;
    }
    &__loadmore {
        position: relative;
        font-size: rem(32);
        padding: rem(8) rem(24);

        span.animate {
            display: inline-block;
            animation: down-and-up 1s infinite linear;
        }
    }
}
.help-area {
    width: 100%;
    background-color: #8b8b8b;
    background-image: linear-gradient(to right, #df0f32, #e2b603);
    .content-container {
        margin: 0 auto;
    }
}
.help {
    color: $text;
    padding: rem(34) 0;
    display: block;
    text-align: center;

    &__button {
        margin: rem(12);
        color: $bgc;
        font-size: rem(24);
        display: inline-block;
        transition: all 285ms linear;
        @include underscore($h: 2px, $bgc: $bgc);
        &:hover {
            transform: scale(1.2);
        }
    }
}
.technologies {
    padding: rem(80) 0;
    gap: rem(64);

    &__title {
        width: 75%;

        .great-header {
            display: inline-block;
            width: 100%;
        }
    }
}
.technologies-list {
    gap: rem(36);

    &__item {
        gap: rem(20);

        .title {
            text-transform: uppercase;
            font-size: rem(20);
            letter-spacing: rem(2);
            color: #f2c81c;
        }
        .body {
            font-size: rem(28);
        }
    }

    @media screen and (max-width: 767px) {
        & {
            flex-direction: column;
        }
    }
}
