@mixin navigation(
    $text-clr: #000,
    $menu-background: #fff,
    $menu-items-clr: #555,
    $shadow: 0 25px 35px,
    $shadow-color: rgba(#000, 0.1),
    $border-clr: rgba(#000, 0.1)
) {
    color: $text-clr;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 120px;
    height: 60px;
    background: $menu-background;
    box-shadow: $shadow $shadow-color;
    transition: height 0.5s, width 0.5s;
    transition-delay: 0s, 0.75s;
    overflow: hidden;
    z-index: 999;

    .userBx {
        position: relative;
        width: 60px;
        height: 60px;
        background: $menu-background;
        display: flex;
        align-items: center;
        overflow: hidden;
        transition: 0.5s;
        transition-delay: 0.5s;

        .imgBx {
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            min-width: 60px;
            height: 60px;
        }

        svg {
            width: 70%;
            height: 70%;
        }
    }

    .menuToggle {
        position: relative;
        width: 60px;
        height: 60px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        &::before {
            content: "";
            position: absolute;
            width: 32px;
            height: 2px;
            background-color: $menu-items-clr;
            transform: translateY(-10px);
            box-shadow: 0 10px $menu-items-clr;
            transition: 0.5s;
        }
        &::after {
            content: "";
            position: absolute;
            width: 32px;
            height: 2px;
            background-color: $menu-items-clr;
            transform: translateY(10px);
            transition: 0.5s;
        }
    }
    .menu {
        position: absolute;
        width: 100%;
        height: calc(100% - 60px);
        margin-top: 60px;
        padding: 20px;
        border-top: 1px solid $border-clr;
    }
    .menu {
        li {
            list-style: none;
            a {
                display: flex;
                align-items: space-between;
                margin: 20px 0;
                font-size: 1em;

                gap: 10px;
                text-decoration: none;
                color: $menu-items-clr;
            }

            i {
                font-size: 1.5em;
            }
        }
    }
    &.active {
        width: 300px;
        height: 400px;
        transition: height 0.5s, width 0.5s;
        transition-delay: 0s, 0.75s;

        .userBx {
            width: calc(100% - 60px);
            transition-delay: 0s;

            .username {
                white-space: nowrap;
                color: $menu-items-clr;
                font-size: 1.1em;
            }
        }
        .menuToggle {
            &::before {
                transform: translateY(0px) rotate(45deg);
                box-shadow: 0 0 $menu-items-clr;
            }
            &::after {
                transform: translateY(0px) rotate(-45deg);
            }
        }
    }
}
