// ================= Import fonts =================
@import url("https://fonts.googleapis.com/css?family=Ubuntu");

$font-fam: "Ubuntu"; // standart font for all pages
$bgc: #000; // background color
$text: #fff; // text color
$ftr-bgc: #111111; // footer background color
$ftr-text: #686868; // footer text color
